beautifulsoup4==4.13.4
dependency_injector==4.47.1
google_auth_oauthlib==1.2.2
opencv_python==4.11.0.86
Pillow==11.3.0
pillow_heif==0.22.0
protobuf==6.31.1
pydantic==2.11.7
pyexiv2==2.15.4
python_magic==0.4.27
Requests==2.32.4
tqdm==4.67.1
